@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");

body {
    font-family: "Oxygen", sans-serif;
}

.page-wrapper {
    margin-top: 3.2rem;
}

.tall-page-wrapper {
    margin-top: 4rem;
}

/* Footer */
.footer-container {
    margin-top: 3.2rem;
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 24px;
    padding: 24px;
    color: #fff;
}

.footer-subscription > p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
}

.footer-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
}

.footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.footer-link-items > h2 {
    color: white;
}

.footer-link-items a {
    color: #e9e9e9;
    margin-left: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3s all;
}

.footer-link-items a:hover {
    transform: translateY(-2px);
    /* background-color: white; */
    border-radius: 0.25rem;
    color: #2793fa;
    transition: 0.3s all;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

.footer-input::placeholder {
    color: #b1b1b1;
}

.icon-anchor {
    color: white;
    transition: 0.3s all;
}
.icon-anchor:hover {
    color: #2793fa;
    transition: 0.3s all;
}

/* Social Icons */
.social-icon-link {
    color: #fff;
    font-size: 24px;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website-rights {
    color: #fff;
    margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
    .footer-links {
        padding-top: 2rem;
    }

    .footer-input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .footer-link-wrapper {
        flex-direction: column;
    }

    .social-media-wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
}

/* Navbar */
.nav .navbar {
    background-color: #0e447b;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
}

.nav .navbar-item {
    width: 12vw;
    justify-content: center;
    transition: 0.3s all;
}

.nav .navbar-item:hover {
    color: #0e447b !important;
    background-color: white !important;
    transition: 0.3s all;
}

.nav #nav-logo:hover {
    background-color: #0e447b !important;
}

/* Login Page */

.body-container {
    background-color: #0e447b;
    height: 100vh;
    /* padding: 4rem 0 2rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-in-text {
    font-size: 30px;
    color: #0e447b;
}

.login-box {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #0e447b;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1%;
}

.sign-in {
    min-height: 25%;
    width: 70%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #0e447b;
    font-family: "Oxygen", sans-serif;
    color: #0e447b;
    transition: 0.3s all;
}

.sign-in:hover {
    background-color: #0e447b;
    color: white;
    transition: 0.3s all;
}

.middle-text {
    color: #0e447b;
    margin-top: 0.5rem;
}

.google-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.bottom-logos {
    padding: 0rem 1rem 0rem 1rem;
    display: flex;
    align-items: center;
    color: #0e447b;
}

.bottom-nhs {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 85px;
    margin-bottom: 0.5rem;
}

.bottom-text {
    margin-right: 1rem;
}

/* Opportunities */

.events-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    color: #2793fa;
}
.event {
    margin-top: 3vw;
    height: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s;
    padding-top: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
}

.event:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2),
        0 24px 80px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s;
}
.event-title {
    margin: 0 0 0 0;
    background-color: rgba(14, 68, 123, 0.8);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    transition: all 0.3s;
}
.event-title:hover {
    background-color: rgba(14, 68, 123, 1);
    transition: all 0.3s;
}

#profile-small {
    background-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
}

#profile-large {
    padding-left: 2vw;
    padding-right: 2vw;
}

.profile-name {
    font-size: 1.5rem;
}

.profile-rank-wrapper {
    display: flex;
    justify-content: center;
}

.profile-picture {
    background-color: #0e447b;
    width: stretch;
    max-width: 20vw;
}

.profile-badges-title {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.profile-line {
    background-color: black;
}

.small-margins {
    margin-top: 0.5rem;
}

.profile-hours-title {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.badge-wrapper {
    padding: 0 !important;
    max-width: 2rem;
    transition: all 0.3s;
}
.badge-wrapper:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
}

#badge-modal-content {
    background: white;
    /* overflow: hidden; */
    padding: 5vw 5vw 5vw 5vw;
    border-radius: 1rem;
}

.modal-text hr {
    background-color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal-title {
    font-size: 1.2rem;
}

/* .modal-badge {
    height: 30vh;
    width: 30vw;
    margin-top: 10vh;
    margin-left: 10vw;
} */

.bronze {
    filter: invert(47%) sepia(91%) saturate(441%) hue-rotate(3deg)
        brightness(96%) contrast(81%);
}

.silver {
    filter: invert(82%) sepia(0%) saturate(47%) hue-rotate(173deg)
        brightness(84%) contrast(91%);
}

.gold {
    filter: invert(61%) sepia(98%) saturate(353%) hue-rotate(5deg)
        brightness(109%) contrast(91%);
}

.light_purple {
    filter: invert(69%) sepia(69%) saturate(6045%) hue-rotate(248deg)
        brightness(92%) contrast(109%);
}

.dark_purple {
    filter: invert(19%) sepia(49%) saturate(5183%) hue-rotate(276deg)
        brightness(84%) contrast(92%);
}

/* Index Video */
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    margin-top: 3.2rem;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container .hero-title {
    padding-top: 8rem;
    color: #fff;
    font-size: 6vw;
    margin-top: -100px;
}

.hero-container .hero-subtitle {
    margin-top: 0rem;
    color: #fff;
    font-size: 4vw;
    font-family: "Open Sans", sans-serif;
}

.hero-button {
    margin-top: 2rem;
    font-size: 1.5rem;
    height: auto;
    width: auto;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    /* border-style: solid;
    border-width: 2px;
    border-color: white; */
    background-color: white;
    font-family: "Oxygen", sans-serif;
    color: #0e447b;
    border-radius: 0.3rem;
    transition: 0.3s all;
}

.hero-button:hover {
    background-color: #0e447b;
    border-radius: 0.3rem;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    transition: 0.3s all;
}

.hero-button-icon {
    margin-left: 0.5rem;
}

.hero-logo {
    margin-top: 4rem;
    width: 10vw;
    filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(179deg)
        brightness(104%) contrast(108%);
}

.fa-play-circle {
    margin-left: 4px;
}

.custom-shape-divider-bottom-1629403044 {
    position: absolute;
    bottom: -105px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629403044 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1629403044 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-top-1629403421 {
    position: relative;
    top: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629403421 svg {
    position: relative;
    display: block;
    width: calc(182% + 1.3px);
    height: 120px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1629403421 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-bottom-1629403947 {
    position: relative;
    bottom: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629403947 svg {
    position: relative;
    display: block;
    width: calc(182% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1629403947 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-top-1629404117 {
    position: relative;
    top: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629404117 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 120px;
}

.custom-shape-divider-top-1629404117 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-bottom-1629404241 {
    position: relative;
    bottom: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629404241 svg {
    position: relative;
    display: block;
    width: calc(167% + 1.3px);
    height: 120px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1629404241 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-top-1629404316 {
    position: relative;
    top: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629404316 svg {
    position: relative;
    display: block;
    width: calc(177% + 1.3px);
    height: 199px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1629404316 .shape-fill {
    fill: #ffffff;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}

/* Apply Page */

.big-eligibililty {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    margin-top: 3vw;
}

.eligibility-list {
    height: 100%;
    width: 50%;
    font-size: 20px;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 1vw;
}

.apply-button {
    margin-top: 2rem;
    font-size: 1.5rem;
    height: auto;
    width: 7%;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #0e447b;
    font-family: "Oxygen", sans-serif;
    color: #fff;
    border-radius: 0.3rem;
    transition: 0.3s all;
    align-content: center;
    margin-left: 46vw;
    margin-right: 46vw;
    margin-top: 2vw;
}

.apply-text {
    height: 100%;
    width: 50%;
    font-size: 20px;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 2vw;
}

.officers-big-text {
    text-align: center;
    font-size: 35px;
    margin-top: 1vw;
}

/* .officers-body {
} */

/* News Page */

.member-top-page-wrapper {
    display: flex;
    flex-direction: row;
}

.slideshow-wrapper {
    width: 100%;
    height: 100%;
    padding: 0rem 1rem 0rem 0rem;
    background-color: #fff;
    font-size: 50px;
}

.member-side-column {
    height: 100%;
    width: 20%;
    box-shadow: 0px 0px 15px #c2c2c2;
    background-color: white;
    margin-top: 6vw;
    margin-right: 8vw;
}

.member-side-column-upcoming {
    text-align: center;
    font-size: 25px;
    margin-top: 0.5vw;
}

.member-side-column-text {
    font-size: 18px;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

/* Admin Group Tab */
.admin-group-title {
    font-size: 25px;
    padding: 1.5rem 0rem 0rem 1.5rem;
}

.admin-group-table {
    padding: 1.5rem 20rem 1.5rem 1.5rem;
}

.email-divider {
    padding: 0.5rem 0rem 0.5rem 1rem;
    /* Officer Create Opportunity */
}

/* Create Opportunity */

.create-opportunity-title {
    font-size: 2rem;
    text-align: center;
}

#create-opportunity-wrapper hr {
    background-color: black;
}

.create-opportunity-form {
    margin-left: 5vw;
    margin-right: 5vw;
}

.task-label {
    margin-top: 1rem;
    margin-left: 5vw;
}

/* Event Detail */

.event-detail {
    background-color: white;
}

.event-detail-title-overlay {
    width: 100vw;
    height: 30vw;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding-top: 13vw;
    font-size: 4vw;
    text-align: center;
}

.event-detail-title {
    width: 100vw;
    height: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.event-detail-descriptions {
    margin-top: 2rem;
    margin-left: 5vw;
    margin-right: 5vw;
}

.event-detail-descriptions hr {
    background-color: black;
    margin-top: 0;
    margin-bottom: 1rem;
}

.event-detail-descriptions-title {
    font-size: 2rem;
}

.event-detail-tasks {
    margin-top: 2rem;
    margin-left: 5vw;
    margin-right: 5vw;
}

.event-detail-tasks hr {
    background-color: black;
    margin-top: 0;
    margin-bottom: 1rem;
}

.event-detail-tasks-register-wrapper {
    padding-top: 1rem !important;
}

.event-detail-tasks-register {
    border-width: 2px;
    border-color: #0e447b;
    color: #0e447b;
    border-style: solid;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.2rem;
    transition: 0.3s all;
}

.event-detail-tasks-register:hover {
    background-color: #0e447b;
    color: white;
    transition: 0.3s all;
}

.is-locked {
    border-color: red;
    color: red;

    pointer-events: none;
}

.is-registered {
    border-color: orange;
    color: orange;
}

.is-registered:hover {
    background-color: orange;
    color: white;
}

.is-submitted {
    border-color: purple;
    color: purple;

    pointer-events: none;
}

.is-verified {
    border-color: green;
    color: green;
    pointer-events: none;
}

.button-disabled {
    display: hidden !important;
}

.verify-modal-content {
    background-color: white;
    border: 1px solid white;
    text-align: center;
    padding: 3vw 3vw 3vw 3vw;
}

.verify-modal-input {
    border: 1px solid black;
    width: stretch;
}

.verify-modal-title {
    font-size: 1.5rem;
}

.verify-modal-description {
    font-size: 1rem;
}

/* Verification Page */
.verificiation-title {
    font-size: 2rem;
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.verify-hours-table {
    margin-left: 5vw;
    margin-right: 5vw;
}

.verification-action-wrapper {
    padding-top: 1.5rem;
}
.verification-action {
    border-width: 2px;
    border-color: #0e447b;
    color: #0e447b;
    border-style: solid;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
    transition: 0.3s all;
}

.verification-action:hover {
    background-color: #0e447b;
    color: white;
    transition: 0.3s all;
}

.is-accept {
    border-color: green;
    color: green;
}

.is-accept:hover {
    background-color: green;
}

.is-decline {
    border-color: red;
    color: red;
}

.is-decline:hover {
    background-color: red;
}

/* Email Verification Page */

.verification-wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}
.verification-statement {
    color: red;
    font-size: 1.2rem;
}

/* About Us */

.columns-wrapper {
    margin-top: 2rem;
}

.about-section-wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 8vw;
    padding-bottom: 8vw;
    opacity: 1;
    transition: 0.5s all;
}

.about-section-top {
    text-align: center;
    background-image: linear-gradient(120deg, #2793fa 0%, #66a6ff 100%);
    color: white;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.about-section-title {
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

.about-section-subtitle {
    font-size: 2rem;
}

.about-section-picture {
    text-align: center;
}

.scholarship-image {
    height: 50vh;
}

.about-section-text {
    padding-right: 5vw;
    padding-left: 5vw;
}

.about-section-header {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    color: #2793fa;
}

.about-section-header-center {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    color: #2793fa;
    text-align: center;
}

.about-section-body {
    font-size: 1.2rem;
}

.is-bg-light {
    background-color: white;
}

.is-bg-shade {
    background-color: #f1f1e6;
}

.is-bg-blue {
    background-color: #0e447b;
}

.is-white {
    color: white;
}

.align-right {
    text-align: right;
}

.profile-section-wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.is-scroll-hidden {
    opacity: 0;
    transition: 0.5s all;
}

.custom-shape-divider-top-1629826782 {
    position: relative;
    top: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629826782 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-top-1629826782 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-bottom-1629829254 {
    position: relative;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629829254 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-bottom-1629829254 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-top-1629829561 {
    position: relative;
    top: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629829561 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1629829561 .shape-fill {
    fill: #ffffff;
}

/* Profile */

.is-profile {
    /* border-style: solid;
    border-width: 2px;
    border-color: #2793fa; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    transition: all 0.3s;
}

.is-profile:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2),
        0 24px 80px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s;
}

.is-profile-name {
    font-size: 1.3rem;
    color: black;
}

.is-profile-contact {
    margin-top: 0.5rem;
}

.is-profile-contact a {
    color: black;
    transition: all 0.3s;
}

.is-profile-contact a:hover {
    color: #2793fa;
    transition: all 0.3s;
}
.is-profile-picture {
    border-radius: 0.5rem;
    width: 10rem;
}

/* Find Tutor Page */

.findtutor-about-section-text {
    padding-left: 5vw;
}

.findtutor-steps {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1.5rem;
}

.rc-steps-item-title {
    font-family: "Montserrat";
    font-size: 1.5rem;
    color: #2793fa !important;
}

.rc-steps-item-description {
    font-size: 1rem;
    color: black !important;
}

.rc-steps-item .rc-steps-item-icon {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.4rem;
    font-size: 1.2rem;
    border: 2px solid;
    border-color: #2793fa;
    margin-right: 1.2rem;
}
.rc-steps-item-tail {
    top: 2.5rem !important;
    padding: 0 0.4rem !important;
    border-color: black !important;
}
.rc-steps-item-tail:after {
    background-color: #2793fa !important;
}

.rc-steps-item .rc-steps-item-icon > .rc-steps-icon {
    color: #2793fa;
}

.tutor-button-wrapper {
    padding-top: 2vw;
}

.tutor-button {
    background-color: white;
    color: #2793fa;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #2793fa;
    transition: 0.3s all;
    border-radius: 0.3rem;
}

.tutor-button:hover {
    background-color: #2793fa;
    color: white;
    transition: 0.3s all;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.books-image-wrapper {
    padding-left: 10vw;
}

.black-bg {
    background-color: black;
    height: 40rem;
    width: 64rem;
}

.tutor-stats-section {
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.tutor-stats-header {
    font-size: 2rem;
    text-align: center;
    padding-top: 5vw;
}

.tutor-stats-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    color: #2793fa;
}

.tutor-stats-text {
    font-size: 1.2rem;
}

.rank-text {
    text-align: center;
    font-size: 1.2rem;
}
.rank-text-small {
    text-align: center;
    font-size: 0.8rem;
}

/* Tutee Form */

.tutee-apply-section-wrapper {
    margin-top: 8vw;
    margin-bottom: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.field-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    color: #2793fa;
}

.field-title-hr {
    background-color: black;
    margin-top: 1rem;
}

.tutee-submit-button {
    background-color: white;
    color: #2793fa;
    border-color: #2793fa;
    border-width: 2px;
    transition: 0.3s all;
    font-weight: bold;
}
.tutee-submit-button:hover {
    background-color: #2793fa;
    color: white;
    border-color: #2793fa;
    border-width: 2px;
    transition: 0.3s all;
}
.tutee-cancel-button {
    background-color: white;
    color: red;
    border-color: red;
    border-width: 2px;
    transition: 0.3s all;
    font-weight: bold;
}
.tutee-cancel-button:hover {
    background-color: red;
    color: white;
    border-color: red;
    border-width: 2px;
    transition: 0.3s all;
}

/* SWAL */

.swal-modal {
    padding-left: 2.5rem;
    padding-right: 2rem;
}

.swal-button {
    background-color: #2793fa;
    transition: 0.3s all;
}

.swal-button:hover {
    transition: 0.3s all;
}

/* Tutor Select */

#find-tutee {
    margin-left: 5vw;
    margin-right: 5vw;
}

/* .tutee-list {
    margin-top: 5vw;
} */

.tutee-card-wrapper {
    border: 1px solid #2793fa;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
    transition: all 0.3s;
}

.tutee-card-wrapper:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2),
        0 24px 80px 0 rgba(0, 0, 0, 0.19); */
    background-color: #f1f1e6;
    transition: all 0.3s;
}

.tutee-card-title {
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: #2793fa;
}
.tutee-card-body {
    font-size: 1rem;
    color: #4a4a4a;
}

.tutee-card-tag {
    margin-left: 0.5rem;
    border: 1px solid #2793fa;
}

.tutee-card-tags a:hover {
    text-decoration: none;
}

.tutee-card-button-wrapper {
    margin-top: 1rem;
    text-align: center;
}

.tutee-card-accept {
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    color: #2793fa;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #2793fa;
    border-radius: 0.3rem;
    transition: 0.3s all;
}

.tutee-card-accept:hover {
    background-color: #2793fa;
    color: white;
    border-color: #2793fa;
}

/* Member Index */

.is-bg-off-white {
    background-color: #f6f7fb;
}

.member-main-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.totals-column {
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.total-column-1 {
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-bottom: 1vh;
}

.mixed-hours-icon {
    height: 6vh;
    margin-top: 4vh;
    margin-left: 25px;
}

.current-mixed-hours-progress {
    text-align: center;
}

.current-mixed-hours-number {
    font-size: 200%;
}

.progress-bar-icon {
    height: 1vh;
}

.total-column-2 {
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-bottom: 1vh;
}

.total-column-3 {
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-bottom: 1vh;
}

.total-column-4 {
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-bottom: 1vh;
}

.member-current-section {
    height: 65vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vw;
    margin-bottom: 3vh;
}

.member-graph-container {
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-left: 2vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
}

.member-current-rank {
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-left: 0vw;
    margin-right: 2vw;
    margin-bottom: 3vh;
}

.featured-opportunities-text-container {
    height: 5vh;
    margin-top: 1vw;
    text-align: center;
    font-size: 100%;

    justify-content: center;
}

.featured-opportunities {
    height: 22vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.member-left-slideshow-arrow {
    width: 2vw;
    display: flex;
    vertical-align: middle;
}

.member-right-slideshow-arrow {
    width: 2vw;
    display: flex;
    vertical-align: middle;
}

.featured-opportunity-1 {
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.featured-opportunity-2 {
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.featured-opportunity-3 {
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.featured-opportunity-4 {
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
}
.tutee-approve-modal-content {
    background-color: white;
    border: 1px solid white;
    text-align: center;
    padding: 3vw 3vw 3vw 3vw;
}

.tutee-approve-modal-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.8rem;
    color: #2793fa;
}

.tutee-approve-modal-title hr {
    background-color: black;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.tutee-modal {
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: left;
}

.warning-text {
    padding-left: 3vw;
    padding-right: 3vw;
    color: red;
    margin-bottom: 2rem;
}

.tutee-approve-modal-actions {
    width: 100%;
    text-align: center;
}

.tutee-modal-accept {
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    color: green;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid green;
    border-radius: 0.3rem;
    transition: 0.3s all;
}

.tutee-modal-accept:hover {
    background-color: green;
    color: white;
    border-color: green;
}

.tutee-modal-cancel {
    margin-left: 20%;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    color: red;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid red;
    border-radius: 0.3rem;
    transition: 0.3s all;
}
.tutee-modal-cancel:hover {
    background-color: red;
    color: white;
    border-color: red;
}

/* Tutor Home */
#tutor-home {
    margin-left: 5vw;
    margin-right: 5vw;
}

/* Verify Tutoring Pair */
.pair-verify-field-title-hr {
    background-color: black;
    margin-top: 0.5rem;
    margin-bottom: -0.8rem;
}

.pair-card-approve {
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    color: green;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid green;
    border-radius: 0.3rem;
    transition: 0.3s all;
}

.pair-card-approve:hover {
    background-color: green;
    color: white;
    border-color: green;
}

.pair-card-reject {
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    color: red;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid red;
    border-radius: 0.3rem;
    transition: 0.3s all;
}

.pair-card-reject:hover {
    background-color: red;
    color: white;
    border-color: red;
}

/* Tutoring Dashboard */

.tutor-list-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    color: #2793fa;
}

.tutor-list-hr {
    background-color: #aaaaaa;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tutee-card-status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-size: 1.5rem;
    color: black;
}

.status-is-active {
    color: green;
}

.status-is-pending {
    color: orange;
}

.status-is-completed {
    color: red;
}

.tutee-card-continue {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a4a4a;
    transition: 0.3s all;
}

.tutee-card-wrapper:hover .tutee-card-continue {
    color: #2793fa;
    transition: 0.3s all;
}

.tutee-card-is-locked {
    pointer-events: none;
}

.tutee-card-chevron-is-hidden {
    display: none;
}

.find-tutee-button-wrapper {
    padding-left: none;
}

.find-tutee-button {
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    color: #2793fa;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #2793fa;
    border-radius: 0.3rem;
    transition: 0.3s all;
}

.find-tutee-button:hover {
    background-color: #2793fa;
    color: white;
    border-color: #2793fa;
}

.tutee-filter {
    padding-bottom: 1rem;
}

.filter-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.2rem;
}

.filter-tag {
    margin-left: 0.5rem;
    border: 1px solid #2793fa;
    transition: 0.3s all;
}

.filter-element a:hover {
    text-decoration: none;
}

.tag-is-selected {
    background-color: #2793fa !important;
    color: white !important;
    transition: 0.3s all;
}

/* Frame */

.frame-wrapper {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5rem;
}

.frame-toolbar {
    border-right: 2px solid #aaaaaa;
    margin-left: 1vw;
    margin-right: 1vw;
}

.toolbar-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    color: #4a4a4a;
}

.toolbar-element {
    color: #4a4a4a;
    border-radius: 0.4rem;
    transition: 0.2s all;
}

.toolbar-element:hover {
    color: #2793fa;
    transition: 0.3s all;
}

.element-selected {
    background-color: #d4e3fe;
    color: #2793fa;
}

/* Create Sessions */
.session-card {
    border: 1px solid #2793fa;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    transition: all 0.3s;
    color: #4a4a4a;
}

.session-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2),
        0 24px 80px 0 rgba(0, 0, 0, 0.19); */
    background-color: #f1f1e6;
    transition: all 0.3s;
}

/* .session-is-locked {
    pointer-events: none;
} */

.pair-list-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.2rem;
    color: #4a4a4a;
}

.pair-card {
    border: 1px solid #2793fa;
    background-color: white;
}

/* Register Session */

.session-register-modal-content {
    background-color: white;
    border: 1px solid white;
    padding: 3vw 3vw 3vw 3vw;
    width: 90vw;
}

.text-is-success {
    color: green;
}
.text-is-warning {
    color: darkorange;
}
.text-is-danger {
    color: red;
}

/* Badges Page */

.badges-section-header {
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    color: #2793fa;
}

.badges-section-body {
    font-size: 1.2rem;
    text-align: center;
}

.listed-badge {
    text-align: center;
}

.badge-pic {
    height: 15vh;
}

.listed-badge-name {
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
}

.listed-badge-wrapper {
    padding: 0 !important;
    transition: all 0.3s;
}
.listed-badge-wrapper:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
}

/* Calendar */

.calendar-chapter-meeting {
    background-color: orange !important;
}

.calendar-opportunity {
    background-color: #0e447b !important;
}

.calendar-tutoring {
    background-color: green !important;
}

/* Empty */

.empty {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Tour */

.tour-header {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

.tour-footer {
    text-align: center;
    height: 3rem;
}

.tour-footer img {
    height: 5rem;
}

.tour-button {
    text-align: center;
}

/* Outward Facing Pages */
.about-section-header2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    color: #2793fa;
    text-align: center;
    margin-top: -8rem;
}

.gsp-title-text {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.8rem;
    color: #2793fa;
    text-align: center;
}

/* Sponsors */

.is-sponsor {
    /* border-style: solid;
    border-width: 2px;
    border-color: #2793fa; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    transition: all 0.3s;
    background-color: white;
}

.is-sponsor:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2),
        0 24px 80px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s;
}
